ul li:hover {
  background: white;
  cursor: pointer;
}

ul li:last-child {
  border-bottom: 2px solid black;
}

ol li:nth-child(1) {
  color: red;
}

ol li:nth-child(2) {
  color: yellow;
}

ol li:nth-child(3) {
  color: blue;
}
